@import "../../app.scss";


.contact{
    height: 100%;
    max-width: 1366px;
    display: flex;
    margin: auto;
    align-items: center;
    padding: 5%;

    @include mobile{
        margin-top: 0 !important;
        padding-top: 0 !important; // Remove padding on mobile view
        width: 100%;
        padding:10px;
        flex-direction: column;
    }
    

    .textContainer {
        flex: 1;
        display: flex;
        gap: 10px;
        flex-direction: column;

        @include mobile{
            gap: 8px;
            text-align: center;
            align-items: center;
            margin-top: 70px;
            padding-bottom: 5%;
        }

        h1{
            font-size: 62px;

            @include mobile{
                font-size: 22px;
                padding-bottom: 15px;
            }

        }

        h2{
            padding-top: 2%;
            font-size: 34px;

            @include mobile{
                font-size: 20px;
            }
        }

        p{
            margin: 0;
            padding: 0;
            line-height: 1;
            color: rebeccapurple;   

            @include mobile{
                font-size: 15px;
            }
        }

        spam{
            color: grey;
        }
    }

    .formContainer {
        flex: 1;
        position: relative;
        width: 100%;

        
        @include mobile{
            padding-top: 13px;
        }


        .svgContainer {
            padding-top: 8%;
            stroke: purple;
            position: absolute;
            margin: auto;
            align-items: center;
            justify-content: center;
            width:450px;
            height:450px;
            
            @include mobile {
                width: 300px; // Reduce size on mobile for better fit
                height: 300px;
                top: 40%; // Adjust as needed to bring it more central on mobile
                left: 50%;
                transform: translate(-50%, -50%); // Center again for mobile view
            }
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            
            @include mobile{
                gap: 2  0px;
                width: 100%; // Ensure the form takes full width on mobile

            }
            
            input, textarea{
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                width: 70%;

                @include mobile {
                    padding: 10px; // Reduced padding for smaller screens
                    font-size: 14px;
                    width: 90%; // Slightly wider on mobile for readability
                }


            }

            
            textarea {
            
                @include mobile {
                    height: 80px; // Set a smaller height on mobile
                }

            }

            button{
                padding: 20px;
                background-color: transparent;
                border: 1px solid rebeccapurple;
                color: white;
                border-radius: 5px;
                width: 70%;
                cursor: pointer;
                font-weight:700;

                @include mobile{
                    padding: 10px;
                    font-size: 11px;
                }
        

                &:hover {
                    background-color: rebeccapurple;
                    border-color: rebeccapurple;
                    color: white;
                }

            }
        }
    }
    
}