@import "../../app.scss";

.navbar {
    height: 100px;

    // @include mobile {
    //     height: 50px;
    // }

    @include mobile {
        height: 60px; 
        padding: 0 10px; 
    }

    .wrapper{
        max-width: 1366px;   //said to be one of the most popular break points for height
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include mobile {
            padding: 20px;
            margin: auto;
        }
    }

    span {
        font-weight:bolder;

        @include mobile {
            font-size: 18px;
        }
            
    }

    .socialmedia {
        display: flex;
        gap: 12px;
        font-size: 50px;

        @include mobile {
            font-size: 25px;
        }
    }

    .icons {
        color: rebeccapurple;
        transition: color 0.3s ease;

        &:hover {
            color: white; 
        }
    }

}